.navbar {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    border: dimgrey solid 2px;
}

.left-navbar{
    margin-left: 20px;
}
.right-navbar{
    margin-right: 20px;
}